<svg class="logo" width="100%" height="100%" viewBox="0 0 170 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
    <title>BunkerToren Logo</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 27 170 27 170 0.528 0 0.528"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Bunker-Homepage" transform="translate(-45.000000, -43.000000)" fill="currentColor">
            <g id="BunkerToren-Logo" transform="translate(45.000000, 42.000000)">
                <g id="Group-5" transform="translate(0.000000, 0.472200)" fill="currentColor">
                    <path d="M0,26.412 L3.588,26.412 L3.588,0.528 L0,0.528 L0,26.412 Z M9.894,26.412 L4.101,26.412 L4.101,23.036 L9.826,23.036 C12.844,23.036 16.063,22.687 16.063,18.518 L16.064,18.484 C16.065,18.471 16.159,16.953 15.078,15.831 C14.266,14.989 12.994,14.562 11.296,14.562 L4.101,14.562 L4.101,11.318 L9.382,11.318 C9.473,11.318 9.587,11.322 9.719,11.327 C10.609,11.357 12.266,11.416 13.346,10.406 C14.06,9.74 14.422,8.682 14.422,7.263 C14.422,4.626 13.309,3.904 9.244,3.904 L4.101,3.904 L4.101,0.528 L9.244,0.528 C16.931,0.528 18.079,4.686 18.079,7.164 C18.079,9.596 17.035,11.074 16.16,11.885 C15.864,12.159 15.568,12.377 15.298,12.548 C19.698,13.578 19.754,18.595 19.754,18.65 C19.754,22.191 18.043,26.412 9.894,26.412 L9.894,26.412 Z" id="Fill-1"></path>
                    <path d="M33.134,26.66 L36.514,26.66 L36.514,8.176 L33.134,8.176 L33.134,26.66 Z M28.173,27 C27.283,27 24.542,26.837 22.537,24.953 C21.087,23.59 20.352,21.64 20.352,19.156 L20.352,8.175 L23.698,8.175 L23.698,19.156 C23.704,19.334 23.89,23.818 28.433,23.818 L28.46,23.819 C28.541,23.822 30.493,23.905 31.86,22.184 L32.666,21.17 L32.666,25.405 L32.519,25.539 C31.496,26.472 30.127,26.961 28.45,26.994 C28.415,26.996 28.318,27 28.173,27 L28.173,27 Z" id="Fill-3"></path>
                    <path d="M38.31,26.412 L41.682,26.412 L41.682,7.927 L38.31,7.927 L38.31,26.412 Z M54.472,26.412 L51.099,26.412 L51.099,15.464 C51.094,15.282 50.938,10.768 46.408,10.768 L46.388,10.767 C46.306,10.763 44.322,10.709 42.988,12.402 L42.183,13.423 L42.183,9.188 L42.323,9.054 C42.998,8.409 44.253,7.631 46.4,7.592 C46.525,7.585 49.923,7.418 52.292,9.659 C53.738,11.027 54.472,12.98 54.472,15.464 L54.472,26.412 Z" id="Fill-4"></path>
                </g>
                <path d="M55.669,26.8832 L59.084,26.8832 L59.084,0.9992 L55.669,0.9992 L55.669,26.8832 Z M66.66,8.6792 L59.591,15.1892 L59.591,19.7142 L61.34,18.1282 L68.171,26.8832 L72.429,26.8832 L63.833,15.8572 L71.381,8.6792 L66.66,8.6792 Z" id="Fill-6"  ></path>
                <path d="M93.053,14.1109 L93.053,9.8209 L93.195,9.6869 C94.346,8.6069 95.908,8.0589 97.838,8.0589 C98.223,8.0589 98.604,8.0929 98.959,8.1289 L99.366,8.1699 L99.366,11.6679 L98.825,11.5609 C98.519,11.5009 98.178,11.4699 97.838,11.4699 C96.096,11.4699 94.793,12.0179 93.856,13.1459 L93.053,14.1109 Z M89.19,26.8839 L92.582,26.8839 L92.582,8.4269 L89.19,8.4269 L89.19,26.8839 Z" id="Fill-7"  ></path>
                <path d="M92.801,4.3762 L112.554,4.3762 L112.554,0.9992 L92.801,0.9992 L92.801,4.3762 Z M100.93,26.8832 L104.425,26.8832 L104.425,4.8722 L100.93,4.8722 L100.93,26.8832 Z" id="Fill-9"  ></path>
                <g id="Group-24" transform="translate(0.000000, 0.472200)">
                    <path d="M114.9738,26.4085 L114.4798,26.3735 C109.4578,26.0185 105.9508,22.1635 105.9508,16.9985 C105.9508,11.8355 109.4578,7.9805 114.4798,7.6255 L114.9738,7.5905 L114.9738,10.6955 L114.5538,10.7305 C111.4108,10.9955 109.4578,13.3965 109.4578,16.9985 C109.4578,20.6015 111.4108,23.0035 114.5538,23.2675 L114.9738,23.3025 L114.9738,26.4085 Z M115.4838,26.4115 L115.4838,23.3065 L115.8988,23.2675 C119.0448,22.9735 120.9998,20.5715 120.9998,16.9985 C120.9998,13.4265 119.0448,11.0245 115.8988,10.7305 L115.4838,10.6915 L115.4838,7.5875 L115.9798,7.6255 C121.0008,8.0125 124.5068,11.8675 124.5068,16.9985 C124.5068,22.1315 121.0008,25.9865 115.9798,26.3735 L115.4838,26.4115 Z" id="Fill-10"  ></path>
                    <path d="M128.9686,13.6387 L128.9686,9.3487 L129.1106,9.2147 C130.2616,8.1347 131.8236,7.5867 133.7536,7.5867 C134.1386,7.5867 134.5196,7.6207 134.8746,7.6567 L135.2816,7.6977 L135.2816,11.1957 L134.7406,11.0887 C134.4346,11.0287 134.0936,10.9977 133.7536,10.9977 C132.0116,10.9977 130.7086,11.5457 129.7716,12.6737 L128.9686,13.6387 Z M125.1056,26.4117 L128.4976,26.4117 L128.4976,7.9547 L125.1056,7.9547 L125.1056,26.4117 Z" id="Fill-12"  ></path>
                    <path d="M143.7454,23.2519 C140.6804,23.2519 138.0194,21.2209 138.0194,18.7639 L134.6834,18.7639 C134.6834,22.9989 138.8404,26.4119 143.7454,26.4119 C148.6504,26.4119 152.6404,22.9989 152.6404,18.7639 L149.3054,18.7639 C149.3054,21.2209 146.8104,23.2519 143.7454,23.2519" id="Fill-14"  ></path>
                    <path d="M138.3613,15.0423 C138.9853,12.2663 140.8993,10.6883 143.6783,10.6883 C146.4373,10.6883 148.3393,12.2663 148.9623,15.0423 L138.3613,15.0423 Z M143.6783,7.5873 C138.4663,7.5873 134.6833,11.5613 134.6833,17.0373 C134.6833,17.2803 134.7203,18.1763 134.7203,18.1763 L152.6413,18.1763 L152.6413,17.0373 C152.6413,11.5613 148.8713,7.5873 143.6783,7.5873 L143.6783,7.5873 Z" id="Fill-16"  ></path>
                    <path d="M79.0975,23.2519 C76.0325,23.2519 73.3715,21.2209 73.3715,18.7639 L70.0355,18.7639 C70.0355,22.9989 74.1925,26.4119 79.0975,26.4119 C84.0025,26.4119 87.9925,22.9989 87.9925,18.7639 L84.6575,18.7639 C84.6575,21.2209 82.1625,23.2519 79.0975,23.2519" id="Fill-18"  ></path>
                    <path d="M73.7134,15.0423 C74.3374,12.2663 76.2514,10.6883 79.0304,10.6883 C81.7894,10.6883 83.6914,12.2663 84.3144,15.0423 L73.7134,15.0423 Z M79.0304,7.5873 C73.8184,7.5873 70.0354,11.5613 70.0354,17.0373 C70.0354,17.2803 70.0724,18.1763 70.0724,18.1763 L87.9934,18.1763 L87.9934,17.0373 C87.9934,11.5613 84.2234,7.5873 79.0304,7.5873 L79.0304,7.5873 Z" id="Fill-20"  ></path>
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-23"></g>
                    <path d="M153.838,26.412 L157.211,26.412 L157.211,7.927 L153.838,7.927 L153.838,26.412 Z M170,26.412 L166.627,26.412 L166.627,15.464 C166.622,15.282 166.466,10.768 161.936,10.768 L161.916,10.767 C161.833,10.763 159.85,10.709 158.516,12.402 L157.711,13.422 L157.711,9.187 L157.851,9.054 C158.527,8.409 159.783,7.631 161.928,7.592 C162.054,7.585 165.451,7.418 167.82,9.659 C169.266,11.027 170,12.98 170,15.464 L170,26.412 Z" id="Fill-22"   mask="url(#mask-2)"></path>
                </g>
            </g>
        </g>
    </g>
</svg>