$red: #2F160F;
$midnight: #0D1C30;
$white: #F4F0E4;
$sand: #C69989;
$gray: #ACB9C8;
$light-gray: #BDC8D6;
.red,
[data-background-color="red"] {
    background-color: $red;
    color: $sand;
}

.midnight,
[data-background-color="midnight"] {
    background-color: $midnight;
    color: $white;
}

.white,
[data-background-color="white"] {
    background-color: $white;
    color: $red;
}

.sand,
[data-background-color="sand"] {
    background-color: $sand;
    color: $red;
}

.gray,
[data-background-color="gray"] {
    background-color: $gray;
    color: $red;
}

.light-gray,
[data-background-color="light-gray"] {
    background-color: $light-gray;
    color: $red;
}

.fill {
    &-red path {
        fill: $red;
        stroke: $red;
    }
    &-midnight path {
        fill: $midnight;
        stroke: $midnight;
    }
    &-white path {
        fill: $white;
        stroke: $white;
    }
    &-sand path {
        fill: $sand;
        stroke: $sand;
    }
    &-gray path {
        fill: $gray;
        stroke: $gray;
    }
    &-light-gray path {
        fill: $light-gray;
        stroke: $light-gray;
    }
}