body {
    color: $red;
    overflow-x: hidden;
}

a:not(.button) {
    transition: color 400ms ease, border 400ms ease;
    color: inherit;
    border-bottom: 1px solid $red;
    &:hover,
    &:focus,
    &:active {
        color: inherit;
        border-bottom: 1px solid transparent;
    }
}

ul, .content ul {
    list-style: none;
    margin-top: 0;
}

.content {
    padding: 2rem;
}

.columns.header {
    padding: 1.5rem;
}

.has-extra-gutter {
    &-left {
        margin-left: 1rem;
    }
    &-right {
        margin-right: 1rem;
    }
}

// .align-clipping-left {
//     margin-left: 12%;
// }

p, h1, h2, h3,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: 400;
}

p {
    margin-bottom: 2rem;
}
p, a {
    font-family:  $family-sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.38em;
}

.content h1,
h1 {
    font-family: $family-display;
    font-size: 40px;
    letter-spacing: -0.01em;
    line-height: 0.84em;
    // text-transform: uppercase;
    margin-bottom: 2rem;
    p {
        font-family: $family-display;
        font-size: inherit !important;
        letter-spacing: inherit !important;
        line-height: inherit !important;
        margin-bottom: 0 !important;

        i {
            font-family: $family-display-italic;
            font-style: normal;
        }
    }
}

.content h2,
h2 {
    font-family: $family-display;
    font-size: 32px;
    letter-spacing: -0.0125em;
    line-height: 0.9375em;
    margin-bottom: 2rem;
    max-width: 90%;

    p {
        font-family: $family-display;
        font-size: inherit !important;
        letter-spacing: inherit !important;
        line-height: inherit !important;
        margin-bottom: 0 !important;

        i {
            font-family: $family-display-italic;
            font-style: normal;
        }

        &:first-child {
            &::before {
                content: '\2014 ';
            }
        }
    }

    &.no-limit {
        max-width: 100%;
    }
}

.slider-nav-item {
    cursor: pointer;
}

[data-background-color="red"] .slider-nav-item::after {
        content: '';
        border-right: 1px solid $sand !important;
}

[data-background-color="midnight"] .slider-nav-item::after {
    content: '';
    border-right: 1px solid $white !important;
}

.content h3,
h3 {
    font-size: 15px;
    text-transform: uppercase;
}

.constructed {
    font-family:  $family-display;
}

@media (max-width: 640px) {
    .content h1,
    .content h2,
    h1,
    h2 {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .content h1,
    .content h2,
    h1,
    h2 {
        max-width: 100%;

            br {
                display: none;
            }
        
    }
}

@media (min-width: 769px) {
    .avoid-navbar {
        padding-top: 80px;
    }

    p, a {
        font-size: 18px;
    }
    h1 {
        font-size: 48px;
        margin-bottom: 2rem;
    }
    .page-front h1 {
            font-size: 58px;
    }
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 15px;
    }

    .columns.header {
        // padding: 1.5rem 0;
        padding: 0;
        margin: -0.75rem 0;
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: 48px;
    }
    h1,
    .page-front h1 {
            font-size: 85px;
    }
}

@media (min-width: 1928px) {
    .container.is-fluid {
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
    }
}