{% extends 'sections/section.twig' %}

{% set section_classes = ['polygon-box', 'fit-height'] %}

{% block content %}

<div class="columns">
    <div class="column is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop">
        {% if page_variation == 'front' %}
            {% include 'sections/partials/polygon-box-front.twig' %}
        {% else %}
            {% include 'sections/partials/polygon-box-about.twig' %}
        {% endif %}
    </div>
</div>


{% endblock %}