.flex-column {
  display: flex;
  flex-direction: column;
  margin: 200px 0;
}

span.text-enormous {
  display: block;
    font-family: $family-display;
    letter-spacing: 0;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    display: flex;
    flex-direction: column;
}

span.text-area {
  display: block;
  font-size: 15px;
  color: $sand;
}

@media (min-width: 768px) {
  span.text-enormous {
    font-size: 100px;
  }
}

@media (min-width: 1024px) {
  span.text-enormous {
    font-size: 150px;
  }
}

@media (min-width: 1280px) {
  span.text-enormous {
    font-size: 200px;
  }
}