.video-thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: +1;
  cursor: pointer;

  &.hidden {
    display: none;
  }
}

video {
  outline: none;
}