.section.text-image:not(.fit-height) {
    .container {
        .columns.header {
            // min-height: 20vh;
        }
        .columns.body {
            min-height: calc(100vh - 12rem);
            .slider,
            .slider * {
                height: 100%;
            }
        }
    }
}
.section.text-image {
    .container {
        .columns.header {
            // min-height: 20vh;

            .no-limit h2 {
                max-width: 100%;
            }
        }
        .columns.body {
            //min-height: calc(100vh - 12rem);
            // margin-top: 0;
            &.has-header {
                // min-height: calc(80vh - 12rem);
                margin-top: -0.75rem;
            }
            .slider-column {
                position: relative;
                //height: 60vw;
            }
            .text-column {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 2.25rem;
                padding-right: 2.25rem;
            }
            .slider-navbar {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                z-index: +1;
                padding-top: 1em;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                

                &.is-mobile {
                    position: relative;
                    margin-bottom: 4rem;
                }

                &.is-double.top {
                    bottom: 3.25rem;
                }
            }
            .slider-nav-spacer,
            .slider-nav-item {
                font-family: $family-display;
                font-size: 15px;
                //width: calc((100vw - 112px - 48px) / 12);
                width: 2em;
                margin-left: 1.75em;
                opacity: 0.3;
                //margin-right: 0.75rem;
                // &:first-of-type {
                //     margin-left: 0;
                // }
                padding-right: 1.25em;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                position: relative;
                &[data-slider-index="0"]{
                    margin-left: 0;
                }
                &.is-active {
                    opacity: 1;
                }
                &::after {
                    content: '';
                    border-right: 1px solid $red;
                    transform: skew(-15deg);
                    position: absolute;
                    top: 0;
                    right: 0.2em;
                    width: 100%;
                    height: 100%;
                }
                span {
                    display: block;
                    

                    //margin-right: 1.5rem;
                }
            }
        }
    }

    .slide-subtitles {
        position: relative;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
    }
    .slide-subtitle {
        position: absolute;
        font-size: 15px;
        text-transform: uppercase;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        top: 0;
        opacity: 0;
        transition: opacity 400ms ease;

        &.is-active {
            opacity: 1;
        }
    
    }
}

@media (min-width: 769px) {
    .section.text-image {
        .slide-subtitles {
            margin-bottom: 0;
        }

        .container {
            .columns.header {
                h2 {
                    font-size: 32px;
                }
            }
            .columns.body {
                .slider-navbar {
                    padding-left: 0;
                    padding-right: 0;
                }
                
                .slider-column {
                    height: auto;
                }

                .text-column {
                    padding-left: 3rem;
                    padding-right: 3rem;
                }
            }
            p {
                // font-family: 'Chap-Regular';
                font-size: 18px;
                letter-spacing: 0;
                line-height: 25px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .section.text-image {
        .container {
            .columns.header {
                h2 {
                    font-size: 50px;
                }
            }
            .columns.body .text-column {
                padding-left: 6rem;
                padding-right: 6rem;
            }
        }
    }
}

@media (min-width: 1216px) {
    .section.text-image {
        .container {
            .columns.header {
                .no-limit h2 {
                    max-width: 700px;
                }
            } 
        }
    }
}