.section.text-360 {
    .clipped-360-column {
        position: relative;
        // height: 60vw;
    }
    .clipped-360 {
        height: 100%;
    }

    .text-column {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }
    .is-hidden-tablet .slider-navbar {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .slider-navbar {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        z-index: +1;
        padding-top: 1em;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &.is-mobile {
            position: relative;
            margin-bottom: 4rem;
        }

        &.is-double.top {
            bottom: 3.25rem;
        }
    }
    .slider-nav-spacer,
            .slider-nav-item {
                font-family: $family-display;
                font-size: 15px;
                //width: calc((100vw - 112px - 48px) / 12);
                width: 2em;
                margin-left: 1.75em;
                opacity: 0.3;
                //margin-right: 0.75rem;
                // &:first-of-type {
                //     margin-left: 0;
                // }
                padding-right: 1.25em;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                position: relative;
                &[data-slider-index="0"]{
                    margin-left: 0;
                }
                &.is-active {
                    opacity: 1;
                }
                &::after {
                    content: '';
                    border-right: 1px solid $red;
                    transform: skew(-15deg);
                    position: absolute;
                    top: 0;
                    right: 0.2em;
                    width: 100%;
                    height: 100%;
                }
                span {
                    display: block;
                    

                    //margin-right: 1.5rem;
                }
            }

    .appartment-name {
        position: relative;
    }
    // .subtitle-360 {
    //     &-0-mobile,
    //     &-1-mobile,
    //     &-0,
    //     &-1 {
    //         position: absolute;
    //         top: 0; left: 0;
    //         opacity: 0;
    //         transition: opacity 400ms ease;

    //         &.is-active {
    //             opacity: 1;
    //         }
    //     }
    // }
    .subtitle-360 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }


    .slide-subtitles {
        position: relative;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
    }
    .slide-subtitle {
        position: absolute;
        font-size: 15px;
        text-transform: uppercase;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        top: 0;
        opacity: 0;
        transition: opacity 400ms ease;

        &.is-active {
            opacity: 1;
        }
    
    }
}

.button-fullscreen {
    @include transition(transform);

    position: absolute;
    top: calc(50% - 42px);
    left: calc(50% - 42px);

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    img {
        display: block;
    }
}

.script-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .section.splash {
        .splash-body.splash-360 {
            //height: 65vh;
        }
    }
}

@media (min-width: 769px) {
    .section.text-360 {
        .subtitle-360 {
            padding-left: 0;
            padding-right: 0;
        }
        .text-column {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        .slider-navbar {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (min-width: 1024px) {
    .section.text-360 {
        .text-column {
            padding-left: 6rem;
            padding-right: 6rem;
        }
    
        .slider-navbar {
            // position: absolute;
            // bottom: -2.25rem;
        }        
    }
}